<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump010000.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,32},{20,24}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,32},{20,24}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,54},{22,26}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{22,26}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,32},{22,26}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{22,26}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,88},{20,26}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{20,26}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,60},{20,26}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{20,26}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,148},{20,26}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,13},{20,26}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010006.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,148},{20,28}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,9},{20,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010007.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,116},{18,28}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{18,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,32},{16,30}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,5},{16,30}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010009.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,38},{14,30}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{14,30}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump010010.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,54},{12,30}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,3},{12,30}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020000.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,112},{12,28}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,5},{12,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,116},{14,28}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{14,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,146},{16,28}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,8},{16,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,82},{16,28}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{16,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,116},{16,28}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,13},{16,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,66},{14,30}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,16},{14,30}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,242},{12,30}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,20},{12,30}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,242},{12,30}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{12,30}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,242},{12,30}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,27},{12,30}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,98},{12,28}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,29},{12,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020010.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{10,28}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,29},{10,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020011.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,242},{12,30}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,27},{12,30}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>jump020012.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,50},{14,30}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,27},{14,30}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,64},{28,34}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,15},{28,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,206},{32,34}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{32,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,170},{32,34}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{32,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,170},{34,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{34,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,112},{34,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{34,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,206},{32,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{32,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{30,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,13},{30,36}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,38},{28,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,13},{28,36}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{30,36}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,14},{30,36}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,206},{32,34}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{32,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,38},{34,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{34,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,76},{34,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{34,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{32,34}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{32,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,32},{30,34}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{30,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,68},{28,34}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,15},{28,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,74},{28,34}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,15},{28,34}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
            <key>slide0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{42,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{42,28}}</string>
                <key>sourceSize</key>
                <string>{110,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boy.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b0f1adb955a18705a0545d0337027fd:e643498751bcac3cc457dadeafdc7d2f:4f9586d774674a78bae24f6fced21f65$</string>
            <key>textureFileName</key>
            <string>boy.png</string>
        </dict>
    </dict>
</plist>
