<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{805,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,480}}</string>
                <key>sourceSize</key>
                <string>{805,480}</string>
            </dict>
            <key>background_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,255},{805,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,480}}</string>
                <key>sourceSize</key>
                <string>{805,480}</string>
            </dict>
            <key>background_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{805,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,480}}</string>
                <key>sourceSize</key>
                <string>{805,480}</string>
            </dict>
            <key>background_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1062},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>black_stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1869},{67,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,157}}</string>
                <key>sourceSize</key>
                <string>{67,157}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,117},{284,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{284,208}}</string>
                <key>sourceSize</key>
                <string>{286,208}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2021},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>boy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1963},{68,81}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{68,81}}</string>
                <key>sourceSize</key>
                <string>{140,89}</string>
            </dict>
            <key>boy01_jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2000},{32,46}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{32,46}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,742},{38,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{38,44}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_run01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2018},{26,46}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{26,46}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_run02.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2011},{34,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,50}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_run03.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,692},{38,48}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_run04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,221},{32,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{32,46}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_run05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2018},{26,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{26,46}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_run06.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,692},{32,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{32,48}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_run07.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,979},{38,48}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_run08.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2011},{32,48}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{32,48}}</string>
                <key>sourceSize</key>
                <string>{40,58}</string>
            </dict>
            <key>boy01_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1869},{140,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,89}}</string>
                <key>sourceSize</key>
                <string>{140,89}</string>
            </dict>
            <key>boy01_slide01.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2019},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>boy01_slide02.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2021},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>boy01_slide03.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2021},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>boy01_slide04.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2021},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>boy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1983},{62,78}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,5},{62,78}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>boy02_jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1961},{29,58}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{29,58}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,979},{43,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_run01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1961},{19,56}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{19,56}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_run02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1961},{29,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{29,58}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_run03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,979},{43,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_run04.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1961},{37,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{37,58}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_run05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1961},{19,56}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{19,56}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_run06.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1961},{29,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{29,58}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_run07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,979},{43,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_run08.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1961},{37,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,58}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>boy02_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1869},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>boy02_slide01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2018},{35,26}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>boy02_slide02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2021},{25,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{25,34}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>boy02_slide03.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2011},{35,22}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>boy02_slide04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2019},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>boy03.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1963},{91,79}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{91,79}}</string>
                <key>sourceSize</key>
                <string>{129,89}</string>
            </dict>
            <key>boy03_jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,117},{46,52}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>boy03_jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,171},{48,46}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>boy03_run01.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1961},{43,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>boy03_run02.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1961},{43,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>boy03_run03.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1983},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>boy03_run04.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1961},{43,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>boy03_run05.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1961},{43,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>boy03_run06.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1961},{43,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>boy03_run07.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1983},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>boy03_run08.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1961},{43,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,56}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>boy03_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1869},{129,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,89}}</string>
                <key>sourceSize</key>
                <string>{129,89}</string>
            </dict>
            <key>boy03_slide01.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2000},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>boy03_slide02.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2000},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>boy03_slide03.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2000},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>boy03_slide04.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2000},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>config.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,599},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>config_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,971},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1864},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1869},{146,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,31}}</string>
                <key>sourceSize</key>
                <string>{148,31}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,692},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>help_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,599},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,884},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>home_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,789},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>intruduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{432,240}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{432,240}}</string>
                <key>sourceSize</key>
                <string>{438,268}</string>
            </dict>
            <key>menu_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1869},{159,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,32}}</string>
                <key>sourceSize</key>
                <string>{167,32}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,979},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>more_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,979},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,878},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,89}}</string>
                <key>sourceSize</key>
                <string>{91,89}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{93,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,91}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>next_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{93,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,91}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>nomusic.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,785},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,89}}</string>
                <key>sourceSize</key>
                <string>{91,89}</string>
            </dict>
            <key>nosound.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,884},{93,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{93,88}</string>
            </dict>
            <key>other.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,694},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>other_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,599},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,89}}</string>
                <key>sourceSize</key>
                <string>{93,89}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1864},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>personal_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1864},{179,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,38}}</string>
                <key>sourceSize</key>
                <string>{181,38}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1864},{97,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,88}}</string>
                <key>sourceSize</key>
                <string>{97,88}</string>
            </dict>
            <key>rank_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1864},{97,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,88}}</string>
                <key>sourceSize</key>
                <string>{97,88}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>restart_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>road01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{1600,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,52}}</string>
                <key>sourceSize</key>
                <string>{1600,54}</string>
            </dict>
            <key>road02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1600,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,59}}</string>
                <key>sourceSize</key>
                <string>{1600,59}</string>
            </dict>
            <key>scores.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,461},{192,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,43}}</string>
                <key>sourceSize</key>
                <string>{192,43}</string>
            </dict>
            <key>select_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,117},{535,387}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,387}}</string>
                <key>sourceSize</key>
                <string>{535,389}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,789},{93,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{93,88}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,979},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>star_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1864},{117,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,89}}</string>
                <key>sourceSize</key>
                <string>{117,89}</string>
            </dict>
            <key>start_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1869},{147,113}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{147,113}}</string>
                <key>sourceSize</key>
                <string>{149,113}</string>
            </dict>
            <key>tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,403},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>street_boy.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a56cb35cfa32078dc6e0a13658e66a49:70157dc746e745c0d2d17554fd409885:f75d574fdf1204ab83f99848254a0316$</string>
            <key>textureFileName</key>
            <string>street_boy.png</string>
        </dict>
    </dict>
</plist>
